requests
jupyter
python-docx
boto3>=1.28.0
elasticsearch==8.4.3
sentence_transformers==2.7.0
accelerate
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-cli[inmem]
langsmith
langchain>=1.0.0
langchainhub
langchain-community>=0.4.0
langchain-core>=1.2.15
langchain-openai>=1.0.0
langchain-aws>=1.4.0
trustcall