requests
jupyter
python-docx
elasticsearch==8.4.3
sentence_transformers==2.7.0
accelerate
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langgraph-cli[inmem]
langsmith
langchain
langchain-ollama
langchainhub
langchain-community
langchain-core
langchain-openai
trustcall